body {
  text-align: center;
  background: #ffe6ef;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 50px;
}

img {
  width: 200px;
  margin: 20px;
}

.buttons {
  position: relative;
  height: 300px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}

#no {
  position: absolute;
}

#yes {
  background: hotpink;
  color: white;
}
